In [642]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/test.csv

In [643]:
train_df = pd.read_csv("/kaggle/input/titanic/train.csv")
test_df = pd.read_csv("/kaggle/input/titanic/test.csv")
test_df_backup = test_df.copy()

In [644]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [645]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [646]:
#The features Paseesnger ID, Name and ticket are not major factors for survival
#so lets drop them
train_df = train_df.drop(["PassengerId"], axis = 1)
train_df = train_df.drop(["Name"], axis = 1)
train_df = train_df.drop(["Ticket"], axis = 1)

In [647]:
train_df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [648]:
#too many values (77%) are missing for the column, so lets drop it
train_df = train_df.drop(["Cabin"], axis = 1)

#Scope for improvement 1: now age is filled with just the mean, instead,
#for age of passenger lets fill in ages with random numbers within one standard deviation of mean
#as this region includes 68% of the values and also doesnt put in small / large values
age_mean = train_df["Age"].mean()
train_df["Age"].fillna(age_mean, inplace = True)

#lets fill in embarked with 'S' as most people embarked in Southampton
train_df["Embarked"].fillna('S', inplace = True)

In [649]:
train_df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [650]:
# converting data into numeric

#Sex
Sex_dict = {"male":1, "female":0}
train_df["Sex"] = train_df["Sex"].map(Sex_dict)

#Embarked
train_df["Embarked_C"] = (train_df["Embarked"] == 'C')
train_df["Embarked_Q"] = (train_df["Embarked"] == 'Q')
train_df["Embarked_S"] = (train_df["Embarked"] == 'S')
train_df = train_df.drop(["Embarked"], axis = 1)

In [651]:
train_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,22.0,1,0,7.2500,False,False,True
1,1,1,0,38.0,1,0,71.2833,True,False,False
2,1,3,0,26.0,0,0,7.9250,False,False,True
3,1,1,0,35.0,1,0,53.1000,False,False,True
4,0,3,1,35.0,0,0,8.0500,False,False,True

In [652]:
#lets convert the age into a more useful form

train_df["Child"] = (train_df["Age"] <= 11)
train_df["Young"] = (train_df["Age"] > 11) & (train_df["Age"] <= 20)
train_df["Adult"] = (train_df["Age"] > 20) & (train_df["Age"] <= 35)
train_df["Mature"] = (train_df["Age"] > 35) & (train_df["Age"] <= 50)
train_df["Old"] = (train_df["Age"] > 50) 

train_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Child,Young,Adult,Mature,Old
0,0,3,1,22.0,1,0,7.2500,False,False,True,False,False,True,False,False
1,1,1,0,38.0,1,0,71.2833,True,False,False,False,False,False,True,False
2,1,3,0,26.0,0,0,7.9250,False,False,True,False,False,True,False,False
3,1,1,0,35.0,1,0,53.1000,False,False,True,False,False,True,False,False
4,0,3,1,35.0,0,0,8.0500,False,False,True,False,False,True,False,False

In [653]:
#normalize the Fare and Age and store the skewing values:

age_mean = train_df["Age"].mean()
age_stddev = train_df["Age"].std()
train_df["Age"] = (train_df["Age"] - age_mean)/age_stddev

fare_mean = train_df["Fare"].mean()
fare_stddev = train_df["Fare"].std()
train_df["Fare"] = (train_df["Fare"] - fare_mean)/fare_stddev

In [654]:
train_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Child,Young,Adult,Mature,Old
0,0,3,1,-0.592148,1,0,-0.502163,False,False,True,False,False,True,False,False
1,1,1,0,0.638430,1,0,0.786404,True,False,False,False,False,False,True,False
2,1,3,0,-0.284503,0,0,-0.488580,False,False,True,False,False,True,False,False
3,1,1,0,0.407697,1,0,0.420494,False,False,True,False,False,True,False,False
4,0,3,1,0.407697,0,0,-0.486064,False,False,True,False,False,True,False,False

In [655]:
#do the same processes to the test dataframe

#drop the useless
test_df = test_df.drop(["PassengerId"], axis = 1)
test_df = test_df.drop(["Name"], axis = 1)
test_df = test_df.drop(["Ticket"], axis = 1)

#take care of nan
test_df = test_df.drop(["Cabin"], axis = 1)
test_df["Age"].fillna(age_mean, inplace = True)
test_df["Embarked"].fillna('S', inplace = True)
#test df has one value of fare nan
test_df["Fare"].fillna(test_df["Fare"].mean(), inplace = True)

#convert to numeric
#Sex
test_df["Sex"] = test_df["Sex"].map(Sex_dict)
#Embarked
test_df["Embarked_C"] = (test_df["Embarked"] == 'C')
test_df["Embarked_Q"] = (test_df["Embarked"] == 'Q')
test_df["Embarked_S"] = (test_df["Embarked"] == 'S')
test_df = test_df.drop(["Embarked"], axis = 1)

#convert age
test_df["Child"] = (test_df["Age"] <= 11)
test_df["Young"] = (test_df["Age"] > 11) & (test_df["Age"] <= 20)
test_df["Adult"] = (test_df["Age"] > 20) & (test_df["Age"] <= 35)
test_df["Mature"] = (test_df["Age"] > 35) & (test_df["Age"] <= 50)
test_df["Old"] = (test_df["Age"] > 50) 

#Normalize Age and fare using the same skewing constants
test_df["Age"] = (test_df["Age"] - age_mean)/age_stddev
test_df["Fare"] = (test_df["Fare"] - fare_mean)/fare_stddev

test_df.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Child,Young,Adult,Mature,Old
0,3,1,0.369241,0,0,-0.490508,False,True,False,False,False,True,False,False
1,3,0,1.330631,1,0,-0.507194,False,False,True,False,False,False,True,False
2,2,1,2.484298,0,0,-0.453112,False,True,False,False,False,False,False,True
3,3,1,-0.207592,0,0,-0.473739,False,False,True,False,False,True,False,False
4,3,0,-0.592148,1,1,-0.400792,False,False,True,False,False,True,False,False

In [656]:
X = train_df.drop(["Survived"], axis = 1).values.astype('float32')
y = train_df["Survived"].values.astype('int32')

X_test = test_df.values.astype('float32')

In [657]:
from sklearn.model_selection import train_test_split

In [658]:
X_train, X_dev, y_train, y_dev = train_test_split(X, y, test_size = 0.25)

In [659]:
X_train

array([[ 1.00000000e+00,  0.00000000e+00,  1.00052364e-01, ...,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 2.00000000e+00,  1.00000000e+00,  3.09958744e+00, ...,
         0.00000000e+00,  0.00000000e+00,  1.00000000e+00],
       [ 1.00000000e+00,  0.00000000e+00,  4.37189279e-15, ...,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       ...,
       [ 3.00000000e+00,  0.00000000e+00,  4.37189279e-15, ...,
         1.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 3.00000000e+00,  1.00000000e+00, -1.05361497e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 3.00000000e+00,  0.00000000e+00,  1.33063078e+00, ...,
         0.00000000e+00,  1.00000000e+00,  0.00000000e+00]], dtype=float32)

In [660]:
import tensorflow as tf

In [661]:
#initialize model

model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(25, activation = 'relu', input_shape=(14,)),
    tf.keras.layers.Dense(5, activation = 'relu'),
    tf.keras.layers.Dense(5, activation = 'relu'),
    tf.keras.layers.Dense(1)
])


#predictions
y_pred = model(X_train[:1]).numpy()
y_pred

array([[0.12846227]], dtype=float32)

In [662]:
adam_op = tf.keras.optimizers.Adam(
    learning_rate= 0.001 , beta_1=0.9, beta_2=0.999, epsilon=1e-07, amsgrad=False,
    name='Adam')


model.compile(optimizer = adam_op,
             loss = tf.keras.losses.BinaryCrossentropy(from_logits=True),
             metrics = ['accuracy'])

In [663]:
model.fit(X_train, y_train, epochs = 1)

Train on 668 samples
668/668 [==============================] - 1s 749us/sample - loss: 0.7294 - accuracy: 0.6198

In [664]:
dev_loss, dev_accuracy = model.evaluate(X_dev, y_dev, verbose = 2)

223/223 - 0s - loss: 0.7060 - accuracy: 0.6233

In [665]:
# iteration over different NN sizes:

# size                train_loss    train_accuracy    dev_loss   dev_accuracy  dropout           inference
# 15 10 10 10 1 ..... 0.4592        0.8069            0.4386     0.7982        no overfitting    
# 15 10 1 ........... 0.4171        0.8204            0.4153     0.8161        no overfitting     
# 7 5 5 1 ........... 0.3919        0.8293            0.4239     0.8341        no overfitting     
# 20 5 1 ............ 0.4198        0.8278            0.4271     0.8072        no overfitting     
# 25 5 1 ............ 0.3811        0.8398            0.4522     0.8430        0.1 0             25 best for first layer    
# 30 5 1 ............ 0.3948        0.8308            0.4024     0.8341        0.1 0
# 25 5 5 1 .......... 0.3657        0.8473            0.4108     0.8430        0.1 0

In [666]:
#now lets train the model with best result on the entire dataset and calculate the submission


model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(25, activation = 'relu', input_shape=(14,)),
    tf.keras.layers.Dense(5, activation = 'relu'),
    tf.keras.layers.Dense(5, activation = 'relu'),
    tf.keras.layers.Dense(1)
])


# alpha 0.01
# define optimizer with alpha
adam_op = tf.keras.optimizers.Adam(
    learning_rate= 0.001 , beta_1=0.9, beta_2=0.999, epsilon=1e-07, amsgrad=False,
    name='Adam')

model.compile(optimizer = adam_op,
             loss = tf.keras.losses.BinaryCrossentropy(from_logits=True),
             metrics = ['accuracy'])
#train 10 epochs
model.fit(X, y, epochs = 20)

# alpha 0.001
# define optimizer with alpha
adam_op = tf.keras.optimizers.Adam(
    learning_rate= 0.001 , beta_1=0.9, beta_2=0.999, epsilon=1e-07, amsgrad=False,
    name='Adam')

model.compile(optimizer = adam_op,
             loss = tf.keras.losses.BinaryCrossentropy(from_logits=True),
             metrics = ['accuracy'])
#train 8 epochs
model.fit(X, y, epochs = 10)

Train on 891 samples
Epoch 1/20
891/891 [==============================] - 1s 569us/sample - loss: 0.6475 - accuracy: 0.6162
Epoch 2/20
891/891 [==============================] - 0s 66us/sample - loss: 0.6287 - accuracy: 0.6162
Epoch 3/20
891/891 [==============================] - 0s 69us/sample - loss: 0.6136 - accuracy: 0.6162
Epoch 4/20
891/891 [==============================] - 0s 65us/sample - loss: 0.5984 - accuracy: 0.6184
Epoch 5/20
891/891 [==============================] - 0s 62us/sample - loss: 0.5819 - accuracy: 0.6195
Epoch 6/20
891/891 [==============================] - 0s 68us/sample - loss: 0.5646 - accuracy: 0.6218
Epoch 7/20
891/891 [==============================] - 0s 70us/sample - loss: 0.5478 - accuracy: 0.6285
Epoch 8/20
891/891 [==============================] - 0s 71us/sample - loss: 0.5334 - accuracy: 0.6420
Epoch 9/20
891/891 [==============================] - 0s 74us/sample - loss: 0.5166 - accuracy: 0.6835
Epoch 10/20
891/891 [==============================] - 0s 73us/sample - loss: 0.4994 - accuracy: 0.6947
Epoch 11/20
891/891 [==============================] - 0s 75us/sample - loss: 0.4854 - accuracy: 0.7082
Epoch 12/20
891/891 [==============================] - 0s 74us/sample - loss: 0.4734 - accuracy: 0.7284
Epoch 13/20
891/891 [==============================] - 0s 83us/sample - loss: 0.4622 - accuracy: 0.7318
Epoch 14/20
891/891 [==============================] - 0s 73us/sample - loss: 0.4530 - accuracy: 0.7699
Epoch 15/20
891/891 [==============================] - 0s 69us/sample - loss: 0.4464 - accuracy: 0.7733
Epoch 16/20
891/891 [==============================] - 0s 79us/sample - loss: 0.4406 - accuracy: 0.7980
Epoch 17/20
891/891 [==============================] - 0s 79us/sample - loss: 0.4356 - accuracy: 0.7969
Epoch 18/20
891/891 [==============================] - 0s 77us/sample - loss: 0.4339 - accuracy: 0.7980
Epoch 19/20
891/891 [==============================] - 0s 74us/sample - loss: 0.4301 - accuracy: 0.8126
Epoch 20/20
891/891 [==============================] - 0s 74us/sample - loss: 0.4263 - accuracy: 0.8193
Train on 891 samples
Epoch 1/10
891/891 [==============================] - 1s 590us/sample - loss: 0.4258 - accuracy: 0.8204
Epoch 2/10
891/891 [==============================] - 0s 74us/sample - loss: 0.4232 - accuracy: 0.8227
Epoch 3/10
891/891 [==============================] - 0s 78us/sample - loss: 0.4217 - accuracy: 0.8238
Epoch 4/10
891/891 [==============================] - 0s 71us/sample - loss: 0.4203 - accuracy: 0.8272
Epoch 5/10
891/891 [==============================] - 0s 72us/sample - loss: 0.4190 - accuracy: 0.8305
Epoch 6/10
891/891 [==============================] - 0s 74us/sample - loss: 0.4177 - accuracy: 0.8305
Epoch 7/10
891/891 [==============================] - 0s 86us/sample - loss: 0.4175 - accuracy: 0.8227
Epoch 8/10
891/891 [==============================] - 0s 81us/sample - loss: 0.4157 - accuracy: 0.8294
Epoch 9/10
891/891 [==============================] - 0s 77us/sample - loss: 0.4139 - accuracy: 0.8316
Epoch 10/10
891/891 [==============================] - 0s 79us/sample - loss: 0.4162 - accuracy: 0.8339

In [667]:
predictions = model(X_test).numpy()
predictions = 1/(1 + np.exp(-predictions))
binary_predictions = predictions > 0.5
print(predictions)

[[0.10675918]
 [0.38868147]
 [0.08732238]
 [0.09613194]
 [0.5893589 ]
 [0.12757371]
 [0.7068591 ]
 [0.11504515]
 [0.6702491 ]
 [0.07599391]
 [0.08756807]
 [0.30386868]
 [0.921625  ]
 [0.0772842 ]
 [0.94195867]
 [0.8471336 ]
 [0.17658016]
 [0.18992342]
 [0.6210139 ]
 [0.54345995]
 [0.4272423 ]
 [0.6761581 ]
 [0.8882225 ]
 [0.43406993]
 [0.9675373 ]
 [0.05056777]
 [0.85574126]
 [0.18103938]
 [0.3567077 ]
 [0.19893801]
 [0.11598974]
 [0.09409959]
 [0.46331894]
 [0.49985173]
 [0.4462242 ]
 [0.22556755]
 [0.634193  ]
 [0.69061244]
 [0.10312463]
 [0.10986763]
 [0.13469973]
 [0.39093843]
 [0.07243817]
 [0.82653254]
 [0.9317717 ]
 [0.10392543]
 [0.4115247 ]
 [0.12458088]
 [0.92960596]
 [0.43542397]
 [0.4103704 ]
 [0.21794887]
 [0.379905  ]
 [0.94969666]
 [0.21115915]
 [0.13178155]
 [0.07614566]
 [0.10406586]
 [0.07030672]
 [0.9527212 ]
 [0.11554017]
 [0.14887045]
 [0.11221774]
 [0.7160411 ]
 [0.59125596]
 [0.8424135 ]
 [0.645884  ]
 [0.3688028 ]
 [0.36707544]
 [0.8340767 ]
 [0.71829695]
 [0.12376662]
 [0.6356303 ]
 [0.36083716]
 [0.92069066]
 [0.645939  ]
 [0.08748459]
 [0.65064895]
 [0.15244885]
 [0.71829695]
 [0.652276  ]
 [0.39637682]
 [0.30333868]
 [0.08756807]
 [0.18817955]
 [0.18004753]
 [0.7164801 ]
 [0.5562019 ]
 [0.7080769 ]
 [0.70301706]
 [0.6764663 ]
 [0.08763349]
 [0.9320342 ]
 [0.08748459]
 [0.35839844]
 [0.10399134]
 [0.914203  ]
 [0.08957966]
 [0.5285348 ]
 [0.0795771 ]
 [0.9171506 ]
 [0.13155258]
 [0.12458088]
 [0.10021719]
 [0.57431954]
 [0.09367336]
 [0.16179644]
 [0.12458088]
 [0.08712694]
 [0.15888943]
 [0.16374668]
 [0.70815134]
 [0.87478286]
 [0.64298576]
 [0.9267044 ]
 [0.23955485]
 [0.14418586]
 [0.6978447 ]
 [0.54925615]
 [0.8546224 ]
 [0.7467607 ]
 [0.12820506]
 [0.9170293 ]
 [0.09326342]
 [0.12458088]
 [0.609459  ]
 [0.11713576]
 [0.60629267]
 [0.12507713]
 [0.10776765]
 [0.08110663]
 [0.31287655]
 [0.53872216]
 [0.1889822 ]
 [0.06999653]
 [0.10787081]
 [0.1589371 ]
 [0.17326047]
 [0.6713114 ]
 [0.03685282]
 [0.09995987]
 [0.9286832 ]
 [0.20983988]
 [0.17729007]
 [0.33056903]
 [0.06131389]
 [0.41624728]
 [0.11711978]
 [0.39093843]
 [0.10158823]
 [0.86843014]
 [0.14311023]
 [0.04158704]
 [0.40537906]
 [0.0371521 ]
 [0.1080313 ]
 [0.93391347]
 [0.6709947 ]
 [0.33056903]
 [0.6660407 ]
 [0.7080342 ]
 [0.64300585]
 [0.8327934 ]
 [0.0880542 ]
 [0.12608273]
 [0.6141838 ]
 [0.44755998]
 [0.07105837]
 [0.85868984]
 [0.6820038 ]
 [0.08775541]
 [0.15633391]
 [0.08811515]
 [0.14349285]
 [0.04222966]
 [0.8016022 ]
 [0.7922719 ]
 [0.4174585 ]
 [0.7720919 ]
 [0.93475246]
 [0.15244885]
 [0.41930535]
 [0.87831867]
 [0.12458088]
 [0.9180204 ]
 [0.12934081]
 [0.84085655]
 [0.07361735]
 [0.00761496]
 [0.12641148]
 [0.13490684]
 [0.38986224]
 [0.13047145]
 [0.08950179]
 [0.6978447 ]
 [0.07956492]
 [0.66945016]
 [0.5566316 ]
 [0.19667244]
 [0.63427263]
 [0.72744507]
 [0.6978447 ]
 [0.72726077]
 [0.6978447 ]
 [0.1777711 ]
 [0.35809255]
 [0.68960035]
 [0.18703793]
 [0.8729902 ]
 [0.10394035]
 [0.08246148]
 [0.08802699]
 [0.22801785]
 [0.6918116 ]
 [0.03966027]
 [0.40162146]
 [0.7084063 ]
 [0.37664527]
 [0.95976716]
 [0.08748459]
 [0.8189573 ]
 [0.12375648]
 [0.81318295]
 [0.1237732 ]
 [0.89164114]
 [0.6079989 ]
 [0.11194056]
 [0.7080769 ]
 [0.06957373]
 [0.1298728 ]
 [0.24762313]
 [0.86412334]
 [0.09531599]
 [0.12448274]
 [0.48956162]
 [0.10585336]
 [0.47508532]
 [0.21774802]
 [0.5611508 ]
 [0.9500243 ]
 [0.89186144]
 [0.7136956 ]
 [0.5314303 ]
 [0.08757258]
 [0.06511714]
 [0.3418296 ]
 [0.8248469 ]
 [0.09080999]
 [0.8546224 ]
 [0.6983047 ]
 [0.6978447 ]
 [0.10580531]
 [0.606665  ]
 [0.10709784]
 [0.08042841]
 [0.08775541]
 [0.12458088]
 [0.09288992]
 [0.7397112 ]
 [0.12377457]
 [0.06321011]
 [0.12376933]
 [0.8577122 ]
 [0.6978447 ]
 [0.2070667 ]
 [0.08756807]
 [0.33000296]
 [0.08775541]
 [0.634193  ]
 [0.11507681]
 [0.46055168]
 [0.12458088]
 [0.92895925]
 [0.65997213]
 [0.14349523]
 [0.68170255]
 [0.15785436]
 [0.10898203]
 [0.1304959 ]
 [0.206677  ]
 [0.6723012 ]
 [0.66053975]
 [0.7080769 ]
 [0.6978447 ]
 [0.6978447 ]
 [0.07714124]
 [0.08791826]
 [0.44586995]
 [0.14349285]
 [0.08748459]
 [0.4029685 ]
 [0.70511943]
 [0.14349285]
 [0.22482844]
 [0.07634495]
 [0.10015748]
 [0.6978447 ]
 [0.19893801]
 [0.4067669 ]
 [0.08961879]
 [0.08124564]
 [0.21053986]
 [0.0951795 ]
 [0.10744541]
 [0.7080769 ]
 [0.75516725]
 [0.34766796]
 [0.6978447 ]
 [0.25700268]
 [0.44192836]
 [0.11168026]
 [0.18396421]
 [0.08774188]
 [0.5324889 ]
 [0.8860669 ]
 [0.65148795]
 [0.48465946]
 [0.15560672]
 [0.09651741]
 [0.09216502]
 [0.10021719]
 [0.16695341]
 [0.17326047]
 [0.37158343]
 [0.9506749 ]
 [0.11234737]
 [0.5665427 ]
 [0.46425998]
 [0.13155775]
 [0.22154073]
 [0.74157363]
 [0.37454954]
 [0.14349523]
 [0.5509943 ]
 [0.09649754]
 [0.3880846 ]
 [0.14873795]
 [0.16785108]
 [0.21213609]
 [0.14349285]
 [0.16267788]
 [0.08134469]
 [0.03658621]
 [0.8726871 ]
 [0.07331853]
 [0.58444107]
 [0.17326047]
 [0.5728297 ]
 [0.19186823]
 [0.83909816]
 [0.92862225]
 [0.1777711 ]
 [0.21585111]
 [0.09121867]
 [0.6978447 ]
 [0.30302668]
 [0.8093749 ]
 [0.08757704]
 [0.12458088]
 [0.6375589 ]
 [0.0040204 ]
 [0.83328104]
 [0.83909816]
 [0.09613194]
 [0.89517444]
 [0.1172998 ]
 [0.18004397]
 [0.75412065]
 [0.9245363 ]
 [0.21106169]
 [0.13208356]
 [0.91208833]
 [0.23825362]
 [0.12308657]
 [0.9040264 ]
 [0.95115083]
 [0.5132545 ]
 [0.21884014]
 [0.2665889 ]
 [0.10397677]
 [0.12458088]
 [0.14176597]
 [0.6524821 ]
 [0.4925128 ]
 [0.1529798 ]
 [0.9091865 ]
 [0.10791261]
 [0.089842  ]
 [0.16186477]
 [0.24422531]
 [0.51957273]
 [0.8574709 ]
 [0.22687419]
 [0.11839326]
 [0.04974931]
 [0.8883611 ]
 [0.15058087]
 [0.94105244]
 [0.11713704]
 [0.11872905]
 [0.92974085]
 [0.10095347]
 [0.85525197]
 [0.34296563]
 [0.4523002 ]
 [0.25091323]
 [0.12600681]
 [0.562386  ]
 [0.7080024 ]
 [0.6978447 ]
 [0.7080769 ]
 [0.935708  ]
 [0.6397972 ]
 [0.08748459]
 [0.9231916 ]
 [0.07477602]
 [0.08748459]
 [0.19410522]]

In [671]:
print(np.shape(binary_predictions))

(418, 1)

In [672]:
submission = pd.DataFrame(test_df_backup["PassengerId"])
submission["Survived"] = binary_predictions.astype("int32")
submission

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [673]:
submission.to_csv('submissions.csv')